{{#if loggedIn}}
<br> 
<a class="btn btn-dark mx-auto" href="/dashboard/newPost" role="button" style="display: block; width: 200px">Create New Post</a>
<hr class="rounded">
{{/if}}

{{#each userPosts as |userPost|}}
{{> posts-dashboard}}
{{/each}}

